
<div class="dropdown" *ngIf="showBlock">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    ng-disabled="disabled"
  >
    Season
  </button>
  <ul
    class="dropdown-menu"
    aria-labelledby="dropdownMenuButton"
    style="max-height: 200px; overflow: auto; "
    
  >

    <li>class="dropdown-item"  (click)="selectSeason(hero.number)" *ngFor="let hero of results"> {{ hero.number }}</li>
    </ul>
</div>
<app-episodes-details [selectedSeasonShow]="seasonTerm"></app-episodes-details>