<div *ngIf="showEpisodeInfo" class="container pt-2">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <ul *ngFor="let hero of results" class="list-group list-group-flush">
          <li (click)="episodeInfo(hero.number)" class="list-group-item">Episode {{hero.number}}</li>

        </ul>
      </div>
    </div>
    <div class="col-sm">
      <app-episodes-info [episodeInformation]="selectedEpisode"></app-episodes-info>
    </div>

  </div>
</div>