<div class="container" class="customFont">
  <div class="d-flex">
    <div class="p-2 flex-grow-1"><input class="form-control"  (input)="onSearchChange($event.target.value)" type="text"
        id="keyword" name="keyword" [(placeholder)]=inputSearch autofocus /></div>
    <div class="p-2"><i class="fas fa-search"></i></div>
    <div class="p-2">
      <div *ngIf="!toggle">
        <button class="btn btn-danger" (click)="clearInput()">Clear</button>
      </div>
    </div>
  </div>
  <div>





    <ul *ngIf="results$" class="list-group">
      <li *ngFor="let result of results$" class="list-group-item">
        <div class="row">
          <div class="col-sm">
            <a (click)="onSelectShow(result.show.id)"> {{ result.show.name }}</a>
          </div>
          <div class="col-sm">
            {{ result.show.premiered }}
          </div>
          <div class="col-sm">
            <div *ngIf="result.show.rating.average === null">unknown</div>
            {{result.show.rating.average}}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <app-show-details [selectedShow]="selectSearchTerm"></app-show-details>
    <app-season-details [selectedShow]="selectSearchTerm"> </app-season-details>
  </div>
</div>